@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .center {
    @apply flex justify-center items-center;
  }

  .layout_container {
    @apply max-w-[1586px] mx-auto px-[10px] sm:px-[20px] md:px-[80px];
  }
}

.gridResponsive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 330px));
}

.slick-dots {
  display: none !important;
}
